.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dbdcdc;
}

.normalContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.table {
    width: 80vw;
    height: 80vh;
    overflow: auto;
    display: flex;
    justify-content: center;
}