.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #dbdcdc;
}

.form {
    width: 30rem;
    height: 30rem;
    justify-content: center;
    text-align: center;
    align-self: center;
    align-items: center;
}